{% load static %}
<header class="position-relative head">
    <nav >
        <div class="container d-flex justify-content-between align-items-center px-5">
            <a href="{% url 'index' %}"><img src="{% static 'img/netflix_logo.png' %}" class="resim" alt=""></a>
            {% if request.path == '/' %}
                <div class="d-flex gap-2 position-relative">

                    <select class="select-icin bg-transparent text-white text-end border border-1 rounded-2 fs-5">
                        <option value="">Türkçe</option>
                        <option value="">İngilizce</option>
                    </select>

                    <i class="fa-solid fa-globe position-absolute"></i>

                    <a href="{% url 'login' %}" class="btn btn-danger button-ıcın d-flex align-items-center">Oturum Aç</a>
                </div>
            {% endif %}
        </div>
    </nav>
    {% if request.path == '/' %}
        <div class="position-absolute ortala d-flex flex-column justify-content-center align-items-center text-white text-center">
            <h1>Âlâsı var!</h1>
            <p class="fs-4">En iyi dizi, film, belgesel ve çok daha fazlası burada.</p>
            <p class="fs-5">İzlemeye hazır mısınız? Üye olmak ya da hesabınıza tekrar ulaşmak için tek yapmanız gereken e-posta adresinizi girmek.</p>
            <div class="d-flex gap-2">
                <input type="text" id="e-mail" class="p-3 for-inp bg-transparent border border-1 border-secondary rounded-2" placeholder="E-posta adresi">
                <button class="btn btn-danger fs-4 fw-bold">Başlayın ></button>
            </div>
        </div>
        
    {% else %}
        <div class="position-absolute ortala d-flex flex-column justify-content-center align-items-center text-white bg-opacity-75 bg-dark p-5">
            <h3 class="text-start">OTURUM AÇ</h3>
            <form method="POST" novalidate>
                {% csrf_token %}
                {% for field in form %}
                    {{ field.errors }}
                    <div class="mb-2">
                        <label for="{{field.id_for_label}}">{{field.label}}</label>
                        {{ field }}
                    </div>
                {% endfor %}
                {% if request.path == '/register/' %}
                <button class='btn btn-danger w-100' type="submit">Kayıt Ol</button>
                {% else %}
                <button class='btn btn-danger w-100' type="submit">Giris Yap</button>
                {% endif %}
            </form>
            {% if request.path != '/register/' %}
                <a class="btn btn-warning mt-2 w-100" href="{% url "register" %}">Kayıt Ol</a>
            {% endif %}
        </div>
    {% endif %}
</header>