{% extends 'partials/base.html' %}

{% block title %}
    <title>Netflix</title>
{% endblock title %}

{% block content %}
    {% include "partials/_navbar.html" %}

   <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-12">
                <h2 class="text-white">Popüler Filmler</h2>
                <hr class="text-white">
            </div>
            {% for film in filmler %}
                <div class="col-3">
                    <div class="card bg-dark rounded-2 overflow-hidden">
                        <a href="{% url "movie_detail" film.slug %}" class="text-decoration-none">
                            <img src="{{ film.image.url }}" class="w-100" alt="">
                            <h6 class="text-white text-center mt-2">{{ film.title }}</h6>
                        </a>
                    </div>
                </div>
            
        
            {% endfor %}
        </div>
   </div>

{% endblock content %}